spring:
  application:
    name: authors-service
  datasource:
    url: jdbc:postgresql://db-authors:5432/authors_db
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  sql:
    init:
      continue-on-error: true

server:
  port: ${SERVER_PORT:8001}
  servlet:
    context-path: /api

logging:
  level:
    root: INFO
    com.editorial: DEBUG
