spring:
  application:
    name: publications-service
  datasource:
    url: jdbc:postgresql://db-publications:5432/publications_db
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  sql:
    init:
      continue-on-error: true

server:
  port: ${SERVER_PORT:8002}
  servlet:
    context-path: /api

authors:
  service:
    url: ${AUTHORS_SERVICE_URL:http://authors-service:8001/api}
    timeout: 5000

logging:
  level:
    root: INFO
    com.editorial: DEBUG
